<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Marketing Automation</h1>
            <p class="lead">An Automated Marketing tool for creating campaign and pipelines to achieve a goal</p>
            <ul class="list-unstyled">
                <li>Lead Generation</li>
                <li>Team Management</li>
                <li>ROI Dashboard</li>
                <li>Spam Free</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->